.Loginform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ac50fc7f;
    height: 100vh;
}
.loginformstyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(165, 238, 147);
    border-radius: 10px;
    width: 250px;
    height: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.input{
    margin-top: 10px;
    height: 25px;
    border-style: none;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 9px;
    padding-left: 5px;
}
.btnLogin{
    margin-top: 10px;
    background: red;
    border-style: none;
    border-radius: 8px;
    width: 100px;
    height: 25px;
    color: white;
    cursor: pointer;
}