.signupform {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Optional: Add shadow for depth */
}

.homepg {
    background-image: url('https://img.freepik.com/free-vector/realistic-technology-particle-background_23-2148409680.jpg?w=900&t=st=1714037667~exp=1714038267~hmac=b93773b7a515b69fa43da356f112eb547620f9f1a6fa73cfbf44969f26ed71ab');

}

.formDetail {
    display: flex;
    flex-direction: column;
}

.inputfeild {
    margin-top: 10px;
    height: 25px;
    padding-left: 10px;
}

.btn {
    background: red;
    height: 25px;
    margin-top: 10px;
    border-style: none;
    color: white;
    border-radius: 8px;
}